.react-img img{
   display: none;
   
}

@media screen and (min-width: 576px) and (max-width: 768px) {
   .react-img img{
      display: block;
      width: 250px;
   }
   
}
@media screen and (min-width: 0) and (max-width: 576px) {
   .react-img img{
      display: block;
      width: 250px;
   }
   
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
   .react-img img{
      display: block;
      width: 250px;
   }
   
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
   .react-img img{
      display: block;
      width: 250px;
   }
   
}
@media screen and (min-width: 1440px) and (max-width: 1800px) {
   .react-img img{
      display: block;
      width: 250px;
   }
   
}